<p style='text-align: right;'> Data Analysis and Visualization with Python for Social Scientists </p>

# Accessing SQLite Databases

## Pandas Dataframe v SQL table

It is very easy and often very convenient to think of SQL tables and pandas Dataframes as being similar types of objects. All of the data manipulations, slicing, dicing, aggragetions and joins associated with SQL and SQL tables can all be accomplished with pandas methods operating on a pandas Dataframe.

The difference is that the pandas Dataframe is held in memory within the Python environment. The SQL table can largely be on disc and when you access it, it is the SQLite database engine which is doing the work. This allows you to work with very large tables which your Python environment may not have the memory to hold completely.

A typical use case for SQLite databases is to hold large datasets, you use SQL commands from Python to slice and dice and possibly aggregate the data within the database system to reduce the size to something that Python can comfortably process and then return the results to a Dataframe.

## Connecting to an SQL database

The first thing we need to do is import the sqlite3 library, We will import pandas at the same time for convenience.

In [1]:
import sqlite3
import pandas as pd

We will start looking at the sqlite3 library by connecting to an existing database and returning the results of running a query.

Initially we will do this without using Pandas and then we will repreat the exercise so that you can see the difference.

The first thing we need to do is to make a connection to the database. An SQLite database is just a file. To make a connection to it we only need to use the sqlite3 connect() function and specify the database file as the first parameter.

The connection is assigned to a variable. You could use any variable name, but ‘con’ is quite commonly used for this purpose

In [2]:
con = sqlite3.connect('data/SN7577.sqlite')

The next thing we need to do is to create a cursor for the connection and assign it to a variable. We do this using the cursor method of the connection object.

The cursor allows us to pass SQL statements to the database, have them executed and then get the results back.

To execute an SQL statement we use the execute() method of the cursor object.

The only paramater we need to pass to execute() is a string which contains the SQL query we wish to execute.

In our example we are passing a literal string. It could have been contained in a string variable. The string can contain any valid SQL query. It could also be a valid DDL statement such as a “CREATE TABLE …”. In this lesson however we will confine ourseleves to querying exiting database tables.

In [3]:
cur = con.cursor()
cur.execute("SELECT * FROM SN7577")

The execute() method doesn’t actually return any data, it just indicates that we want the data provided by running the SELECT statement.

Before we can make use of the results of the query we need to use the fetchall() method of the cursor.

The fetchall() method returns a list. Each item in the list is a tuple containing the values from one row of the table. You can iterate through the items in a tuple in the same way as you would do so for a list.

In [48]:
cur = con.cursor()
cur.execute("SELECT * FROM SN7577")
rows = cur.fetchall()
# for row in rows:
#   print(row)

The output is the data only, you do not get the column names.

The column names are available from the ‘description’ of the cursor.

In [10]:
colnames = []
for description in cur.description:
    colnames.append(description[0])
    
print(colnames)

['Q1', 'Q2', 'Q3', 'Q4', 'Q5ai', 'Q5aii', 'Q5aiii', 'Q5aiv', 'Q5av', 'Q5avi', 'Q5avii', 'Q5aviii', 'Q5aix', 'Q5ax', 'Q5axi', 'Q5axii', 'Q5axiii', 'Q5axiv', 'Q5axv', 'Q5bi', 'Q5bii', 'Q5biii', 'Q5biv', 'Q5bv', 'Q5bvi', 'Q5bvii', 'Q5bviii', 'Q5bix', 'Q5bx', 'Q5bxi', 'Q5bxii', 'Q5bxiii', 'Q5bxiv', 'Q5bxv', 'Q6', 'Q7a', 'Q7b', 'Q8', 'Q9', 'Q10a', 'Q10b', 'Q10c', 'Q10d', 'Q11a', 'Q11b', 'Q12a', 'Q12b', 'Q13i', 'Q13ii', 'Q13iii', 'Q13iv', 'Q14', 'Q15', 'Q16a', 'Q16b', 'Q16c', 'Q16d', 'Q16e', 'Q16f', 'Q16g', 'Q16h', 'Q17a', 'Q17b', 'Q17c', 'Q17d', 'Q17e', 'Q17f', 'Q17g', 'Q18ai', 'Q18aii', 'Q18aiii', 'Q18aiv', 'Q18av', 'Q18avi', 'Q18avii', 'Q18aviii', 'Q18aix', 'Q18bi', 'Q18bii', 'Q18biii', 'Q18biv', 'Q18bv', 'Q18bvi', 'Q18bvii', 'Q18bviii', 'Q18bix', 'Q19a', 'Q19b', 'Q19c', 'Q19d', 'access1', 'access2', 'access3', 'access4', 'access5', 'access6', 'access7', 'web1', 'web2', 'web3', 'web4', 'web5', 'web6', 'web7', 'web8', 'web9', 'web10', 'web11', 'web12', 'web13', 'web14', 'web15', 'web16', 'web17', 'web18', 'dbroad', 'intten', 'netfq', 'daily1', 'daily2', 'daily3', 'daily4', 'daily5', 'daily6', 'daily7', 'daily8', 'daily9', 'daily10', 'daily11', 'daily12', 'daily13', 'daily14', 'daily15', 'daily16', 'daily17', 'daily18', 'daily19', 'daily20', 'daily21', 'daily22', 'daily23', 'daily24', 'daily25', 'sunday1', 'sunday2', 'sunday3', 'sunday4', 'sunday5', 'sunday6', 'sunday7', 'sunday8', 'sunday9', 'sunday10', 'sunday11', 'sunday12', 'sunday13', 'sunday14', 'sunday15', 'sunday16', 'sunday17', 'sunday18', 'sunday19', 'sunday20', 'press1', 'press2', 'broadsheet1', 'broadsheet2', 'broadsheet3', 'popular1', 'popular2', 'popular3', 'popular4', 'popular5', 'sex', 'age', 'agegroups', 'numage', 'class', 'sgrade', 'work', 'gor', 'qual', 'ethnic', 'ethnicity', 'party', 'cie', 'wrkcie', 'income', 'tenure', 'tennet', 'lstage', 'maritl', 'numhhd', 'numkid', 'numkid2', 'numkid31', 'numkid32', 'numkid33', 'numkid34', 'numkid35', 'numkid36', 'wts']

One reason for using a database is the size of the data involved. Consequently it may not be practial to use fetchall() as this will return the complete result of your query.

An alternative is to use the fetchone() method, which as the name suggestrs returns only a single row. The cursor keeps track of where you are in the results of the query, so the next call to fetchone() will return the next record. When there are no more records it will return ‘None’.

In [14]:
cur = con.cursor()
cur.execute("SELECT * FROM SN7577")

row = cur.fetchone()
print(row)

row = cur.fetchone()
print(row)

(1, -1, 1, 8, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 2, 3, 3, 4, 1, 4, 2, 2, 2, 2, 1, 0, 0, 0, 3, 2, 3, 3, 1, 4, 2, 3, 2, 4, 4, 2, 2, 2, 4, 2, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 3, 2, 2, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 9, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 6, 5, 64, 2, 3, 8, 7, 3, 1, 1, 1, 1, 8, 12, 2, 1, 4, 6, 3, 11, 2, 0, 0, 0, 0, 1, 0, 1.11439)
(3, -1, 1, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2, 2, 2, 3, 3, 4, 5, 1, 1, 4, 4, 3, 3, 1, 0, 0, 0, 3, 3, 2, 4, 1, 4, 4, 3, 1, 5, 5, 1, 4, 1, 3, 1, 2, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 2, 2, 2, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 9, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 25, 1, 2, 1, 11, 3, 1, 1, 3, 2, 1, 16, 1, 1, 1, 4, 3, 11, 2, 0, 0, 0, 0, 1, 0, 2.56604)

### Exercise

1. What happens if you if you ask for a non existent table?, field within a table? or just any kind of syntax error?

In [4]:
cur.execute("SELECT * FROM abc")

OperationalError: no such table: abc

In all cases an error message is returned. The error message is not from Python but from SQLite. It is the same error message that you would have got had you made the same errors in the SQLite plugin.

2. Can you write code to return the first 5 records from the SN7577 table in two different ways?

In [23]:
cur.execute("SELECT * FROM SN7577 LIMIT 5")

rows = cur.fetchall()
for r in rows:
    print(r)

(1, -1, 1, 8, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 2, 3, 3, 4, 1, 4, 2, 2, 2, 2, 1, 0, 0, 0, 3, 2, 3, 3, 1, 4, 2, 3, 2, 4, 4, 2, 2, 2, 4, 2, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 3, 2, 2, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 9, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 6, 5, 64, 2, 3, 8, 7, 3, 1, 1, 1, 1, 8, 12, 2, 1, 4, 6, 3, 11, 2, 0, 0, 0, 0, 1, 0, 1.11439)
(3, -1, 1, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2, 2, 2, 3, 3, 4, 5, 1, 1, 4, 4, 3, 3, 1, 0, 0, 0, 3, 3, 2, 4, 1, 4, 4, 3, 1, 5, 5, 1, 4, 1, 3, 1, 2, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 2, 2, 2, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 9, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 25, 1, 2, 1, 11, 3, 1, 1, 3, 2, 1, 16, 1, 1, 1, 4, 3, 11, 2, 0, 0, 0, 0, 1, 0, 2.56604)
(10, 3, 2, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 2, 2, 2, 3, 4, 6, 4, 2, 3, 3, 3, 3, 3, 1, 0, 0, 0, 3, 1, 2, 4, 1, 3, 4, 4, 2, 5, 4, 2, 2, 2, 3, 3, 2, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 5, 9, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 2, 7, 7, 90, 3, 4, 8, 10, 7, 1, 1, 3, 2, 1, 17, 2, 1, 4, 6, 2, 11, 2, 0, 0, 0, 0, 1, 0, 2.04468)
(9, -1, 10, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 3, 3, 3, 5, 4, 3, 3, 2, 2, 4, 4, 4, 4, 1, 0, 0, 0, 4, 3, 6, 6, 6, 6, 6, 6, 6, 6, 3, 2, 3, 2, 2, 3, 5, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 2, 9, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 4, 4, 48, 3, 4, 7, 10, 1, 1, 4, -1, 1, 7, 17, 2, 1, 4, 4, 1, -1, 2, 0, 0, 0, 0, 1, 0, 1.07592)
(10, 2, 6, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 2, 3, 3, 4, 3, 3, 2, 2, 3, 4, 3, 3, 1, 0, 0, 0, 4, 3, 1, 3, 1, 2, 2, 2, 4, 4, 4, 2, 3, 1, 2, 2, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 2, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 3, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 4, 4, 48, 4, 5, 7, 3, 9, 1, 1, 2, 1, 7, 16, 1, 1, 4, 4, 1, -1, 2, 0, 0, 0, 0, 1, 0, 1.25068)

In [24]:
rows = cur.execute("SELECT * FROM SN7577")

for i in range(1,6):
    print(cur.fetchone())

(1, -1, 1, 8, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 2, 3, 3, 4, 1, 4, 2, 2, 2, 2, 1, 0, 0, 0, 3, 2, 3, 3, 1, 4, 2, 3, 2, 4, 4, 2, 2, 2, 4, 2, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 3, 2, 2, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 9, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 6, 5, 64, 2, 3, 8, 7, 3, 1, 1, 1, 1, 8, 12, 2, 1, 4, 6, 3, 11, 2, 0, 0, 0, 0, 1, 0, 1.11439)
(3, -1, 1, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2, 2, 2, 3, 3, 4, 5, 1, 1, 4, 4, 3, 3, 1, 0, 0, 0, 3, 3, 2, 4, 1, 4, 4, 3, 1, 5, 5, 1, 4, 1, 3, 1, 2, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 2, 2, 2, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 9, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 25, 1, 2, 1, 11, 3, 1, 1, 3, 2, 1, 16, 1, 1, 1, 4, 3, 11, 2, 0, 0, 0, 0, 1, 0, 2.56604)
(10, 3, 2, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 2, 2, 2, 3, 4, 6, 4, 2, 3, 3, 3, 3, 3, 1, 0, 0, 0, 3, 1, 2, 4, 1, 3, 4, 4, 2, 5, 4, 2, 2, 2, 3, 3, 2, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 5, 9, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 2, 7, 7, 90, 3, 4, 8, 10, 7, 1, 1, 3, 2, 1, 17, 2, 1, 4, 6, 2, 11, 2, 0, 0, 0, 0, 1, 0, 2.04468)
(9, -1, 10, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 3, 3, 3, 5, 4, 3, 3, 2, 2, 4, 4, 4, 4, 1, 0, 0, 0, 4, 3, 6, 6, 6, 6, 6, 6, 6, 6, 3, 2, 3, 2, 2, 3, 5, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 2, 9, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 4, 4, 48, 3, 4, 7, 10, 1, 1, 4, -1, 1, 7, 17, 2, 1, 4, 4, 1, -1, 2, 0, 0, 0, 0, 1, 0, 1.07592)
(10, 2, 6, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 2, 3, 3, 4, 3, 3, 2, 2, 3, 4, 3, 3, 1, 0, 0, 0, 4, 3, 1, 3, 1, 2, 2, 2, 4, 4, 4, 2, 3, 1, 2, 2, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 2, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 3, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 4, 4, 48, 4, 5, 7, 3, 9, 1, 1, 2, 1, 7, 16, 1, 1, 4, 4, 1, -1, 2, 0, 0, 0, 0, 1, 0, 1.25068)

In [26]:
cur.execute("SELECT * FROM SN7577")
rows = cur.fetchmany(5)

for r in rows:
    print(r)

(1, -1, 1, 8, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 2, 3, 3, 4, 1, 4, 2, 2, 2, 2, 1, 0, 0, 0, 3, 2, 3, 3, 1, 4, 2, 3, 2, 4, 4, 2, 2, 2, 4, 2, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 3, 2, 2, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 9, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 6, 5, 64, 2, 3, 8, 7, 3, 1, 1, 1, 1, 8, 12, 2, 1, 4, 6, 3, 11, 2, 0, 0, 0, 0, 1, 0, 1.11439)
(3, -1, 1, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2, 2, 2, 3, 3, 4, 5, 1, 1, 4, 4, 3, 3, 1, 0, 0, 0, 3, 3, 2, 4, 1, 4, 4, 3, 1, 5, 5, 1, 4, 1, 3, 1, 2, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 2, 2, 2, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 9, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 25, 1, 2, 1, 11, 3, 1, 1, 3, 2, 1, 16, 1, 1, 1, 4, 3, 11, 2, 0, 0, 0, 0, 1, 0, 2.56604)
(10, 3, 2, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 2, 2, 2, 3, 4, 6, 4, 2, 3, 3, 3, 3, 3, 1, 0, 0, 0, 3, 1, 2, 4, 1, 3, 4, 4, 2, 5, 4, 2, 2, 2, 3, 3, 2, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 5, 9, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 2, 7, 7, 90, 3, 4, 8, 10, 7, 1, 1, 3, 2, 1, 17, 2, 1, 4, 6, 2, 11, 2, 0, 0, 0, 0, 1, 0, 2.04468)
(9, -1, 10, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 3, 3, 3, 5, 4, 3, 3, 2, 2, 4, 4, 4, 4, 1, 0, 0, 0, 4, 3, 6, 6, 6, 6, 6, 6, 6, 6, 3, 2, 3, 2, 2, 3, 5, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 2, 9, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 4, 4, 48, 3, 4, 7, 10, 1, 1, 4, -1, 1, 7, 17, 2, 1, 4, 4, 1, -1, 2, 0, 0, 0, 0, 1, 0, 1.07592)
(10, 2, 6, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 2, 3, 3, 4, 3, 3, 2, 2, 3, 4, 3, 3, 1, 0, 0, 0, 4, 3, 1, 3, 1, 2, 2, 2, 4, 4, 4, 2, 3, 1, 2, 2, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 2, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 3, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 4, 4, 48, 4, 5, 7, 3, 9, 1, 1, 2, 1, 7, 16, 1, 1, 4, 4, 1, -1, 2, 0, 0, 0, 0, 1, 0, 1.25068)

## Using Pandas to read a database table

When you use Pandas to read a database table, you connect to the database in the same way as before using the SQLite3 connect() function and providing the filename of the database file.

Pandas has a method read_sql_query to which you provide both the string containing the SQL query you wish to run and also the connection variable.

The results from running the query are placed in a pandas Dataframe with the table column names automatically added.

In [34]:
con = sqlite3.connect('data/SN7577.sqlite')

df = pd.read_sql_query("SELECT * FROM SN7577", con)

# verify that result of SQL query is stored in the Dataframe
print(type(df))
print(df.shape)
print(df.head())
con.close()

<class 'pandas.core.frame.DataFrame'>
(1286, 202)
   Q1  Q2  Q3  Q4  Q5ai  Q5aii  Q5aiii  Q5aiv  Q5av  Q5avi  ...  numhhd  \
0   1  -1   1   8     0      0       0      1     0      0  ...       3
1   3  -1   1   4     0      0       0      0     0      0  ...       3
2  10   3   2   6     0      0       0      0     0      0  ...       2
3   9  -1  10  10     0      0       0      0     0      0  ...       1
4  10   2   6   1     0      0       0      1     0      0  ...       1

   numkid  numkid2  numkid31  numkid32  numkid33  numkid34  numkid35  \
0      11        2         0         0         0         0         1
1      11        2         0         0         0         0         1
2      11        2         0         0         0         0         1
3      -1        2         0         0         0         0         1
4      -1        2         0         0         0         0         1

   numkid36      wts
0         0  1.11439
1         0  2.56604
2         0  2.04468
3         0  1.07592
4         0  1.25068

[5 rows x 202 columns]

## Saving a Dataframe as an SQLite table

There may be occasions when it is convenient to save the data in you pandas Dataframe as an SQLite table for future use or for access to other systems. This can be done using the to_sql() method.

In [39]:
con = sqlite3.connect('data/SN7577.sqlite')
df = pd.read_sql_query("SELECT * from SN7577", con)

# select only the row where the response to Q1 is 10 meaning undecided voter
df_undecided = df[df.Q1 == 10]
print(df_undecided.shape)

# Write the new Dataframe to a new SQLite table
df_undecided.to_sql("Q1_undecided", con)

# If you want to overwrite an existing SQLite table you can use the 'if_exists' parameter
#df_undecided.to_sql("Q1_undecided", con, if_exists="replace")
con.close()

(335, 202)

OperationalError: database is locked

## Deleting an SQLite table

If you have created tables in an SQLite database, you may also want to delete them. You can do this by using the sqlite3 cursor execute() method

In [41]:
con = sqlite3.connect('SN7577.sqlite')
cur = con.cursor()

cur.execute('drop table if exists Q1_undecided')

con.close()

### Exercise

The code below creates an SQLite table as we have done in previous examples. Run this code to create the table.

con = sqlite3.connect('data/SN7577.sqlite')
df_undecided = df[df.Q1 == 10]
df_undecided.to_sql("Q1_undecided_v2", con)
con.close()

Try using the following pandas code to delete (drop) the table.

pd.read_sql_query("drop table Q1_undecided_v2", con)

1. What happens?
2. Run this line of code again, What is different?
3. Can you explain the difference and does the table now exist or not?

1. When the line of code is run the first time you get an error message : ‘NoneType’ object is not iterable.

2. When you run it a second time you get a different error message: DatabaseError: Execution failed on sql ‘drop table Q1_undecided_v2’: no such table: Q1_undecided_v2

3. the read_sql_query() method is designed to send the SQL containing your query to the SQLite execution engine, which will execute the SQL and return the output to pandas which will create a Dataframe from the results.

The SQL statement we sent is valid SQL but it doesn’t return rows from a table, it simply reports success of failure (in dropping the table in this case). The first time we run it the table is deleted and a response to the effect is returned. The resonse cannot be converted to a Dataframe, hence the first error message, which is a pandas error.

When we run it for the second time, the table has already has already been dropped, so this time the error message is from SQLite saying the table didn’t exist. Pandas recognises that this is an SQLite error message and simply passes it on to the user.

The moral of the story: pandas may be better for getting data returned into a Dataframe, but there are some things best left to the sqlite functions directly.