In [2]:
print ('Hello World')

Hello World

# Comments

In [3]:
# One line comments starts with hash
print ('Hello World') # comment at the end of the line

Hello World

# Variables

In [4]:
var1 = 2

In [6]:
print (var1)

2

In [7]:
var2 = 3
var3 = var1 + var2
print('The sum of var1 and var2 is {}'.format(var3)) # {} is a placeholder for the variable

The sum of var1 and var2 is 5

# Strings

In [8]:
"This is a string"

'This is a string'

In [9]:
'This is a string'

'This is a string'

In [10]:
string1 = "This is a string"

In [11]:
print(string1)

This is a string

In [12]:
string1[1]

'h'

In [13]:
string1[1:]

'his is a string'

In [14]:
string1[5:]  #selects from index 5 to ..

'is a string'

In [15]:
string1[5:7]

'is'

# Lists

In [16]:
list1 = [1, 2, 3]

In [17]:
print(list1)

[1, 2, 3]

In [18]:
list2 = ['a', 'b', 'c']

In [19]:
print(list2)

['a', 'b', 'c']

In [20]:
list2.append('d')

In [21]:
print(list2)

['a', 'b', 'c', 'd']

In [22]:
list2[0]

'a'

In [23]:
list2[0] = 'abc'

In [24]:
print(list2)

['abc', 'b', 'c', 'd']

In [25]:
list2[0] = ['a', 'b', 'c']

In [26]:
print(list2) # nested list

[['a', 'b', 'c'], 'b', 'c', 'd']

# Dictionaries

In [27]:
d1 = {'key1': 'value1', 'key2': 'value2'}

In [28]:
print(d1)

{'key1': 'value1', 'key2': 'value2'}

In [29]:
d1['key2']

'value2'

In [30]:
# Lists in Dictionaries
d2 = {'list1': [1,2,3]}

In [31]:
print(d2)

{'list1': [1, 2, 3]}

In [32]:
d2['list1']

[1, 2, 3]

In [33]:
list1 = d2['list1']

In [34]:
list1

[1, 2, 3]

In [35]:
d2['list1'][2]

3

In [36]:
d3 = {'key1': {'key2': 'value2'}}

In [37]:
d3['key1']

{'key2': 'value2'}

In [38]:
d3['key1']['key2']

'value2'

# Sets

In [39]:
{1,2,3}

{1, 2, 3}

A set: No key-value combination. Also, it only contains distinct (unique) values.

In [40]:
{1,2,2,3,3,3}  #only distinct values

{1, 2, 3}

In [41]:
s1 = {1,2}

In [42]:
s1

{1, 2}

In [43]:
s1.add(3)

In [44]:
s1

{1, 2, 3}